.bridge__container {
    position: relative;
}

.bridge {
    max-width: 80%;
    margin-bottom: 60px;
}

.bridge__label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4584b5;
    text-shadow: 0 0 8px #8383e284;
}

.bridge__foundation, .bridge__moving__part {
    filter: drop-shadow(0 0 8px #3a3a90);
}

.bridge__foundation.raise, .bridge__moving__part.raise {
    filter: drop-shadow(0 0 4px #ff8059);
}

.bridge__moving__part.raise {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: raise 10s linear forwards;
    fill: #FF3D00;
}

.bridge__moving__part.lower {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: lower 10s linear forwards;
}

.bridge__foundation.raise {
    fill: url('#a');
}

@media screen and (min-width: 768px) {
    .bridge {
        max-width: 65%;
        margin-bottom: 100px;
    }
    .bridge__label {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    .bridge {
        max-width: 50%;
    }
}

@media screen and (min-width: 1110px) {
    .bridge {
        max-width: 600px;
    }
}

@media (prefers-color-scheme: dark) {
    .bridge__label {
        text-shadow: 0 0 8px #8383e2;
    }
    .bridge__foundation.raise, .bridge__moving__part.raise {
        filter: drop-shadow(0 0 6px #FF3D00);
    }
}

@keyframes raise {
    0% { transform: translate(0, 0px); }
    20% { transform: translate(0, -40px); }
    40% { transform: translate(0, -70px); }
    70% { transform: translate(0, -70px); }
    100% { transform: translate(0, -70px); }
}

@keyframes lower {
    0% { transform: translate(0, -70px); }
    20% { transform: translate(0, -40px); }
    40% { transform: translate(0, 0); }
    70% { transform: translate(0, 0); }
    100% { transform: translate(0, 0); }
}