.bridge {
    max-width: 80%;
}

.bridge__label {
    font-size: 18px;
    margin-top: 30px;
    color: #4584b5;
    text-shadow: 0 0 8px #8383e2;
}

@media screen and (min-width: 768px) {
    .bridge {
        max-width: 65%;
    }
    .bridge__label {
        font-size: 22px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    .bridge {
        max-width: 50%;
    }
}

.bridge__foundation, .bridge__moving__part {
    filter: drop-shadow(0 0 8px #3a3a90);
}

.raise {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: raise 10s linear forwards;
}

.lower {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: lower 10s linear forwards;
}

@keyframes raise {
    0% { transform: translate(0, -30px); }
    20% { transform: translate(0, -30px); }
    40% { transform: translate(0, -90px); }
    70% { transform: translate(0, -90px); }
    100% { transform: translate(0, -90px); }
}

@keyframes lower {
    0% { transform: translate(0, -30px); }
    20% { transform: translate(0, -30px); }
    40% { transform: translate(0, 0); }
    70% { transform: translate(0, 0); }
    100% { transform: translate(0, 0); }
}