.lightbeam__container {
    position: absolute;
    top: 10px;
    right: 100px;
    transform: skew(-15deg, 5deg);
}

.lightbeam {
    width: 50px;
    height: 200px;
    border-radius: 0%;
    background: conic-gradient(from -45deg at bottom,#00002b, #223a8c 1deg 90deg, #000 91deg);
    -webkit-mask: linear-gradient(#223a8c8a, #3d8dcc00);
    color: #162871;
    position: absolute;
    top: 13px;
}

.websocketOnline {
    /*color: #ffc300;*/
    background: #223a8c;
    /* padding: 5px 4px; */
    /* border-radius: 24px; */
    width: 50px;
    height: 30px;
    border-radius: 30px / 19px;

    font-size: 25px;
    /* border: 2px solid #ffc300; */
    line-height: 31px;
    color: #ffffff;
    /* color: #62d1c3; */
    position: absolute;
}