:root {
  --main-color: #3d8dcc;
  --secondary-color: #223a8c;
  --secondary-color-opacity: #223a8c8a;
  --small-size-screen: 768px;
  --medium-size-screen: 992px;
  --large-size-screen: 1110px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
