/*@keyframes growProgressBar {

}*/

.counterCircle {
    --size: 2rem;
    --fg: red; /*#369*/
    --bg: #def;
    --value: 80;
    --pgPercentage: var(--value);
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--size)/5);
    color: var(--fg);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: radial-gradient(closest-side, white 70%, transparent 0 99.9%), 
    conic-gradient(var(--fg) calc((var(--pgPercentage))* 1%), var(--bg) 0);
    /*animation: growProgressBar 3s 1 forwards; Kopplad till growProgressBar, som är tom */
}